// TODO: Some day use eslint-plugin-angular
// https://github.com/Gillespie59/eslint-plugin-angular
{
  "env": {
    "commonjs": true,
    "browser": true,
    "node": false,
    "jasmine": true
  },
  "globals": {
    "angular": 1,
    "inject": 1,
    "waitUrl": 1
  }
}
